@use "../../styles//mixin.scss" as mixin;


.auth_input {
    padding: 5px;
    border-radius: 5px;
    color: rgba(128, 128, 128, 1);
    border: 1px solid rgba(128, 128, 128, 0.3);
    &:focus {
      outline: none;
      border: 1px solid mixin.$color-blue;
    }
  }
  
  .password_container {
    position: relative;
    input{
      width: 100%;
    }
  }
  .password_toggle_btn {
    position: absolute;
    top:9px;
    right:10px;
    font-size:20px;
    cursor: pointer;
  }