$color-blue: #1877f2;
$color-grey-light: rgba(128, 128, 128, 0.1);
$color-grey: rgba(128, 128, 128, 0.3);
$color-theme: ivory;

$english-font: "Mukta";
$chinese-font: "Noto+Sans+SC";

@mixin mobile {
  @media only screen and (max-width: 375px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: 992px) {
    @content;
  }
}
